﻿@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.eot);
  src: url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.svg#Abel-Regular) format('svg'), 
  	   url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.eot?#iefix) format('embedded-opentype'), 
  	   url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.otf) format('otf'), 
  	   url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.ttf) format('truetype'), 
  	   url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMJBw1xU1rKptJj_0jans920.woff2) format('woff2'), 
  	   url(../fonts/amatic-font/6UByihrsVPWtZ99tNMIgMLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'),
       local('Amatic SC'), 
  	   local('AmaticSC-Regular'); 
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.eot);
  src: url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.svg#Abel-Regular) format('svg'), 
       url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.eot?#iefix) format('embedded-opentype'), 
       url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.otf) format('otf'), 
       url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.ttf) format('truetype'), 
       url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7yYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2'), 
       url(../fonts/amatic-font/IDnkRTPGcrSVo50UyYNK7-Y5mlVXtdNkpsMpKkrDXP4.woff) format('woff'),
  	   local('Amatic SC Bold'), 
       local('AmaticSC-Bold'); 
}