﻿@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.eot');
  src: url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.woff') format('woff'),
       url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.woff2') format('woff2'),
       url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.otf') format('otf'),
       url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.ttf') format('truetype'),
       url('../fonts/oswald-font/l1cOQ90roY9yC7voEhngDJBw1xU1rKptJj_0jans920.svg#Abel-Regular') format('svg'),
       local('Oswald Light'), 
       local('Oswald-Light');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.eot');
  src: url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.woff') format('woff'),
       url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2'),
       url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.otf') format('otf'),
       url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.ttf') format('truetype'),
       url('../fonts/oswald-font/Qw6_9HvXRQGg5mMbFR3PhuvvDin1pK8aKteLpeZ5c0A.svg#Abel-Regular') format('svg'),
       local('Oswald Regular'), 
       local('Oswald-Regular');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.eot');
  src: url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.woff') format('woff'),
       url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.woff2') format('woff2'),
       url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.otf') format('otf'),
       url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.ttf') format('truetype'),
       url('../fonts/oswald-font/dI-qzxlKVQA6TUC5RKSb35Bw1xU1rKptJj_0jans920.svg#Abel-Regular') format('svg'),
       local('Oswald Bold'), 
       local('Oswald-Bold');
}
