﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Science Icons";src:url("../fonts/science-font/Science_Icons.eot?") format("eot"),url("../fonts/science-font/Science_Icons.woff") format("woff"),url("../fonts/science-font/Science_Icons.ttf") format("truetype"),url("../fonts/science-font/Science_Icons.svg#ScienceIcons") format("svg");font-weight:normal;font-style:normal;}
