@import url("amatic-font.css");
@import url("science-font.css");
@import url("oswald-font.css");

.mail
{
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
}
.we
{
	position: relative;

	padding: 0;
	text-align: center;

	background-color: transparent;
	margin: 1em auto;
	min-height: 31em;
	max-width: 15em;

	border-style: none;

}
.we .caption h3
{
	font-size: 1.6em;
}

.we .caption p
{
	margin-top: 2em;
}
.we .img-circle
{
	height:12em;
	width:12em;
}
.top-fixed
{

	position: absolute;

	bottom: 18em;
	left: 2em;
}
a:hover
{
	text-decoration: none;
}
footer
{
	font-size: .8em;
	background-color: #1D8CC5;
	color: white;
	min-height: 20em;
	padding: 0 0 1em 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Oswald', sans-serif;
}

hr
{
	border-color: #bbb;
	margin: 2em 0;
}

.centered
{
	text-align: center;
	margin-left: 0;
}

.blue
{
	color: #1D8CC5 !important;
}

.full
{
	width: 100% !important;
}

.form-footer
{
	background-color: #89B157;
	box-shadow: 0 0 .5em #777 inset;
	color: white;
	padding: 1.5em 0;
	margin: 0 0 3em 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,1), 1px 1px 1px rgba(0,0,0,1);

}
.form-footer .centered p.lead
{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}

.green
{
	color: #89B157 !important;
}

.white
{
	color: white !important;
}

.red
{
	color: #d9534f !important;
}

.logo h1
{
	background-color: rgba(255,255,255,.6);
	border-radius: .5em;
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px 4px rgba(255,255,255,.8);
	padding: .5em 0;
	margin: 0 0.5em;
}


.logo h3, .logo h2, h3.lead.white
{
	text-shadow: 1px 1px 1px rgba(0,0,0,1), 1px 1px 1px rgba(0,0,0,1);
}

.logo h2
{
	font-size: 2em;
	margin: .5em 1em;

}

.logo h3
{
	font-size: 2em;
}

.centered .landing-form
{
	margin: 0 auto;
}
.centered .landing-form input[type="email"]
{
	max-width: 20em;
	margin: 0 auto;
	text-align: center;
}
	
	.footer-row
	{
		margin-top: 5em;
		margin-bottom: 12em;
	}

	.footer-title
	{
		border-bottom: thin dashed #fff;
		padding-bottom: .3em;
		font-size: 2em;
		text-align: center;
	}

	.nav-footer
	{
		font-family: 'Amatic SC', cursive;
		font-size: 2em;
		color: white;
		list-style: none;
		margin: 0 0 0 -.5em;
		padding: 0;
	}
	.nav-footer li
	{
		float: left;
		margin: .3em;
	}
	.nav-footer li a
	{
		color:white;
	}


.img-points
{
	margin: 3em 0 .5em -0.25em;
}

.social
{
	margin-top: 2em;
	margin-left: 2.5em;
}
footer .social
{
	margin-left: 1em;
}
footer .social a
{
	margin: 0 .5em;
}
footer .social a img
{
	max-width: 3em;
}
.social a img
{
	max-width: 2em;
	border-radius: 5em;
  	box-shadow: 0 0 .1em #777;
}
.points
{
	font-size: 5em;
	margin: .2em 0 0 0;
}

.wrapper
{
	margin: 2em auto;
	max-width: 50em;
	padding-top: 0;
}
.icon-container {
    display: inline-block;
    text-align: center;
    margin-left: 0;
    vertical-align: middle;
    width: 2em;
}

.logo-footer img
{
	margin-left: -1em;
}
.landing	
{
  	padding: .5em 0;
  	min-height: 6em;

  	background-image: url("../img/31-done.jpg");
    
    background-repeat: repeat;
    background-position: center top !important;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.landing-item
{
	font-size: 2em !important;
}

.science-icon
{
	font-family: "Science Icons";
	font-size: 1.3em;
}

.white-lined
{
  	background-image: url(../img/lined-paper-2.png);
	background-color: #fff;
  	box-shadow: 0 0 .5em #777 inset;
  	padding-top: 3em;
}

/*
	blockquote
*/
.testimonial blockquote
{
	padding-top: 5em;
	border-left: none;
	font-size: 1em;
}
.testimonial blockquote:after 
{
	font-family: 'icons';
	background-color: transparent;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	content: '\275e'; 
	position: absolute;
	font-size: 70px;
	/*line-height: 130px;*/
	text-align: center;
	top: 0px;
	left: 30%;
	margin-left: -65px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.1);
}


.testimonial blockquote p 
{
	font-style: italic;
	color: #999;
	line-height: 2em;
}
.testimonial .mb-attribution 
{
}
.testimonial .mb-attribution cite
{
	font-size: 1em;
}
.testimonial blockquote p.mb-author
{
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0 1px 1px rgba(255,255,255,0.1);
}

.twitter-share-button
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 1em !important;
	color: #fff !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.header-social
{
	margin-top: -2.5em;
	margin-bottom: .5em;
}

.header-social ul
{
	list-style: none;
}

.content
{
	padding: 1em 0;
}
.content h3
{
	font-size: 2em;
	margin-top: 2em;
}

.centered h3
{
	font-size: 2em;
}

.centered p
{
	font-size: 1.4em;
	color: #777;
}

.centered p.lead
{
	color: #fff;
}


.content h3:nth-child(1)
{
	margin-top: 0;
}
section article
{
	font-size: 1.2em;
	line-height: 2;
}
section article header h2
{
	background-color: #1D8CC5;
	color: white;
	padding: .5em 0 1em 0;
	text-align: center;
}
section article header
{
	padding: 0 !important;
}


/*
	Bootstrap Modifiers
*/

code a,
code a:hover,
code a:active,
code a:focus,
code a:visited
{
	color: #c7254e;
}


.btn-lg
{
	cursor: pointer;
}

.img-responsive
{
	width: 100%;
	min-width: 5em !important;
	height: auto;
	min-height: 3em;
}

.dropdown-menu
{
	background-color: #fff;
  	background-image: url(../img/lined-paper-2.png);
  	border:none;
  	border-radius: 3px;
  	color:black;
	font-size: .8em;
	padding: 2em 0;
}

.dropdown.open ul.dropdown-menu li a:hover
{
	background-color: transparent;
}

.navbar
{
	background-color: white;
  	background-image: url(../img/lined-paper-2.png);
  	box-shadow: 0 0 .5em #777 inset;
  	border:none;
  	border-radius: 0;
  	color: black;
  	margin-bottom: 0;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover 
{
    background-color: transparent;
    color: black;
	text-decoration: underline;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover,
.navbar-brand,
.navbar-brand:active,
.navbar-brand:hover
{
	max-width:12em;
}
#logo-container
{
	padding: 1em 0;
}
#logo-container img
{
	width: 6em;
	margin: -.5em -.5em 0 0;
}

.navbar-header button.navbar-toggle.collapsed,
.navbar-header button.navbar-toggle,
.navbar-nav
{
	margin-top: .5em;
	margin-bottom: 0;
}

.navbar-header button.navbar-toggle,
.twitter-share-button
{
	width: 4.5em !important;
}

.navbar-default div.container div.navbar-header button.navbar-toggle
{
	background-color: white;
}

.navbar-header button.navbar-toggle.collapsed span,
.navbar-header button.navbar-toggle span
{
	margin: 4px auto;
}

.navbar ul.nav
{
	margin-right: 0;
	margin-top: 0;
}

.navbar ul.nav li
{
	margin-right: 0;
}

.navbar ul.nav li a .badge
{
	font-size: .8em;
}

.navbar ul.nav li.active a,
.navbar ul.nav li a:active,
.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus,
.navbar ul.nav li a:visited
{
	background: transparent;
	text-decoration: underline;
}

.navbar ul.nav li a,
.navbar ul.nav li.active a,
.navbar ul.nav li a:active,
.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus,
.navbar ul.nav li a:visited
{
	color: black;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;

}
.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu li a
{
	color:black;
}

@media (min-width: 480px) {
	body.bg
	{
	    background-position: center top !important;
	}

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	.footer-row
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.footer-title
	{
		border-bottom: thin dashed #fff;
		padding-bottom: .3em;
		font-size: 2em;
		text-align: left;
	}

	.nav-footer
	{
		font-family: 'Amatic SC', cursive;
		font-size: 2em;
		color: white;
		list-style: none;
		margin: 0 0 0 -.5em;
		padding: 0;
	}
	.nav-footer li
	{
		float: left;
		margin: .3em;
	}
	.nav-footer li a
	{
		color:white;
	}

	body.bg {
	    background-attachment: fixed !important;
	    background-image: url("../img/31-done.jpg");
	    
	    background-repeat: repeat;
	    background-position: center top !important;
	    -webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-ms-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	section article header h2
	{
		text-align: center;
	}
	
	.brand:hover
	{
	    -webkit-transform: scale(1.1, 1.1);
	    -moz-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	    -o-transform: scale(1.1, 1.1);
	    transform: scale(1.1, 1.1);

	}

	.brand
	{

	    -webkit-transform: scale(1, 1);
	    -moz-transform: scale(1, 1);
	    -ms-transform: scale(1, 1);
	    -o-transform: scale(1, 1);
	    transform: scale(1, 1);
	    
	    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;

	}

	aside
	{
	  	margin-top: 3em;
	  	padding-left: 4em !important;
	}
	
	.landing	
	{
	  	padding: 4em 0;
		font-size: .8em;
		
    	background-image: none;
		
	}
	.logo h1
	{
		border-radius: .5em;
		font-size: 4em;
		margin: 0;
	}

	.logo h2
	{
		font-size: 4em;
		margin: 0 0 .5em 0;
	}

	.logo h3
	{
		font-size: 2.5em;
	}

	.logo code
	{
		font-size: 1.5em;
	}

	#logo-container
	{
		padding: 1em 0;
	}
	#logo-container img
	{
		width: 12em;
	}
	.nav
	{
		font-size: .95em;
		margin-top: 5em !important;
	}
	.navbar
	{
		max-height: 13em;
	}
	.navbar-header
	{
		max-width: 17em;
	}

	.social
	{
		margin-top: 0;
		margin: 0 auto;
	}
	.social a img
	{
		max-width: 3em;
		border-radius: 5em;
	  	box-shadow: 0 0 .1em #777;
	}

	.header-social
	{
		margin-top: -5em;
	}
	.twitter-share-button
	{
		border-radius: 4px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	
	section article
	{
		font-size: 1.4em;
	}

	section article header h2
	{
		padding: .5em .3em 3em 0;
		min-height: 10em;
		text-align: right;
	}
	section article header
	{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	
	.nav
	{
		font-size: 1em;
		margin-top: 5em !important;
	}


	.scale-effect:hover
	{
	    -webkit-transform: scale(1.2, 1.2);
	    -moz-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	    -o-transform: scale(1.2, 1.2);
	    transform: scale(1.2, 1.2);

	}

	.scale-effect
	{
		cursor: crosshair;

	    -webkit-transform: scale(1, 1);
	    -moz-transform: scale(1, 1);
	    -ms-transform: scale(1, 1);
	    -o-transform: scale(1, 1);
	    transform: scale(1, 1);
	    
	    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
	    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;

	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
	.nav-footer
	{
		text-align: left;
		margin-top: 0;
	}
}
