@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin,latin-ext);

/* Styles go here */
body {
  padding-top: 51px;
  /*background-image: url(../img/lined-paper-2.png);*/
  text-shadow: 0 1px 3px rgba(60,60,60,.3);
}

/* this is only to style the sidebar - 
you can make the sidebar look any way you want 
.form-control-centered
{
	max-width: 20em; 
	text-align: center; 
	margin:0 auto;
}

.form-control-centered input
{
	margin:0 auto;
	text-align: center;
}

.logo
{
	margin-left: -2em;
}
.navbar .container-fluid
{
	text-align: center;
}
.navbar .navbar-toggle.toggle-sidebar, [data-toggle="sidebar"] {
    display: inline;
}
.navbar-toggle
{
	float:none;
}
.navbar-default
{
  background-color: transparent;
  border-color: transparent;
}
.sidebar {
  background-color: #002D60;
  background-image: url(../img/lined-paper-2.png);
  box-shadow: .2em 0 .8em #444 , 0 0 3em #111 inset;
  color: white;
  padding: 5em 1em;
  top: 0px;
}

.sidebar ul.nav li a, 
.sidebar ul.nav li a:hover
{
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	padding-left: 0;
	padding-right: 2em;
}

.sidebar ul.nav li a:active,
.sidebar ul.nav li a:focus,
.sidebar ul.nav li a:hover
{
	color: #002D60;
	background-color: white;
	background-image: url(../img/lined-paper-2.png);
	font-weight: 800;
}

#main-menu
{
	padding-left: 0;
	padding-right: 0;
}








canvas{
      position:absolute;
      left:0;
      top:0;
      z-index:-1;
  	  box-shadow: 1em 1em 5em #111 inset;

    }
*/
